body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
}

.sidebar-container {
  min-height: 100vh;
  background-color: lightgray;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
}

.laundry-list {
  border-radius: 1rem 3rem 2rem;
  background: rgb(72, 133, 190);
  padding: 1.25rem; 
  width: 12.5rem;
  height: 9.375rem; 
  margin: 1.25rem;
}

ul {
  list-style-type: none;
  height: 26rem;
  overflow: auto;
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.custom-restricted-width {
  /* To limit the menu width to the content of the menu: */
  display: inline-block;
  /* Or set the width explicitly: */
  /* width: 10em; */
}
